.about-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  background: #020b1a;
  color: white;
}

/* CARD */
.about-card {
  max-width: 900px;
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 16px;
  text-align: center;

  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

/* ANIMASI MASUK */
.about-card.show {
  opacity: 1;
  transform: translateY(0);
}

.about-card h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-card p {
  line-height: 1.8;
  font-size: 16px;
}

.about-page {
  min-height: 100vh;   /* INI KUNCI UTAMA */
  width: 100%;
  background: #020b1a;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 80px 20px; /* biar gak ketutup navbar */
}
