.members-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.member-card {
  background: #021024;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.member-card:hover {
  transform: translateY(-5px);
}

.member-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.member-card h3 {
  margin: 5px 0;
  font-size: 16px;
  color: white;
}

.member-card p {
  font-size: 13px;
  color: #aaa;
}
.member-card:hover,
.gallery-item:hover {
  transform: translateY(-8px) scale(1.02);
}
