.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(90deg, #021024, #032859);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  z-index: 1000;
}

/* MENU ICON */
.menu-icon {
  font-size: 26px;
  cursor: pointer;
}

/* TITLE */
.navbar-title {
  font-weight: bold;
  font-size: 18px;
}

/* LOGO */
.logo-kampus {
  width: 40px;
}

/* MENU */
.nav-menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background: #021024;
  list-style: none;
  padding: 0;
  display: none;
  flex-direction: column;
  z-index: 999;
}

.nav-menu li {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.nav-menu li a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.nav-menu li a:hover {
  background: #032859;
}

/* ACTIVE */
.nav-menu.active {
  display: flex;
}

/* DESKTOP */
@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .nav-menu {
    position: static;
    display: flex;
    flex-direction: row;
    background: none;
    width: auto;
  }

  .nav-menu li {
    border: none;
  }

  .nav-menu li a {
    padding: 0 15px;
  }
}
.nav-menu li a {
  transition: all 0.3s ease;
}

.nav-menu li a:hover {
  color: #4fc3f7;
  transform: translateY(-2px);
}
